<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marketdongnae.mapper.ChatMapper">
	
	<select id ="isRoom" resultType = "com.marketdongnae.domain.chatting.ChatRoom">
		select * from CHATROOM 
		WHERE 
		buyer_M_Number = #{buyer_M_Number} 
		and seller_M_Number = #{seller_M_Number} 
		and g_id = #{g_id} 
	</select>
	
	<insert id = "createRoom">
		insert into CHATROOM (buyer_M_Number , seller_M_Number, g_id) 
		values(#{buyer_M_Number}, #{seller_M_Number} , #{g_id} )
	</insert>
	
</mapper>    