<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marketdongnae.mapper.CommunityMapper">

	<!-- 게시판 불러오기 -->
	<select id="communityAll" resultType="com.marketdongnae.domain.community.CommunityAllDTO">
		SELECT * FROM dongnae.communityall
	</select>
	
	<!-- 게시판 상세보기 -->
	<select id="communityDetail" resultType="com.marketdongnae.domain.community.CommunityAllDTO">
		SELECT * FROM dongnae.communityall where mu_id = #{mu_id}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateCount" parameterType="string" >
		update community 
		set community.mu_c =  community.mu_c +1
		where community.mu_id = #{mu_id}	
	</update>
	
	<!-- 글작성 -->
	<insert id="insertCommunity" parameterType="com.marketdongnae.domain.community.communityDetailDTO">
		insert into community( mu_name, mu_detail, ca_id, m_number)
		value(#{mu_name},#{mu_detail},#{ca_id},#{m_number})
	</insert>
		
	
	
	<update id="updateCommunity" parameterType="com.marketdongnae.domain.community.communityDetailDTO">
		update community
		set mu_name = #{mu_name},
			mu_detail = #{mu_detail},
			ca_id =#{ca_id}
		where community.mu_id = #{mu_id}
	</update>
	
	<delete id="deleteCommunity" parameterType="com.marketdongnae.domain.community.communityDetailDTO">
		delete from community where community.mu_id = #{mu_id}
	</delete>
	
	
	
	<select id="heartview" resultType="com.marketdongnae.domain.community.HeartDTO">
		select * from heart where m_number = #{m_number} and mu_id = #{mu_id}
	</select>
	
	<insert id="insertHeart" parameterType="com.marketdongnae.domain.community.HeartDTO">
		insert into heart(mu_id,m_number,h_num)
			values(#{mu_id},#{m_number},1)
	</insert>
	
	<update id="updateHeart" parameterType="com.marketdongnae.domain.community.HeartDTO">
		update heart set h_num = 0 where m_number = #{m_number} and mu_id = #{mu_id}
	</update>
	
	<update id="updateHearts" parameterType="com.marketdongnae.domain.community.HeartDTO">
		update heart set h_num = 1 where m_number = #{m_number} and mu_id = #{mu_id}
	</update>
	
	<insert id="insertComment" parameterType="com.marketdongnae.domain.community.CommentDTO" >
		insert into comment(com_c,m_number,mu_id)
			values(#{com_c},#{m_number},#{mu_id});
	</insert>
	
	<select id="selectComment" resultType="com.marketdongnae.domain.community.CommentDTO">
	 	select * from comment where mu_id = #{mu_id};     
	</select>
	
	<update id="updateComment" parameterType="com.marketdongnae.domain.community.CommentDTO">
		 update comment set com_c = #{com_c},com_data=CURRENT_TIMESTAMP where com_id=#{com_id} 
		   
	</update>
	
	<delete id="deleteComment" parameterType="com.marketdongnae.domain.community.CommentDTO">
		delete from comment where com_id=#{com_id}   
	</delete>
	
	
	 <select id="counts" resultType="int"> 
		select count(*) from dongnae.communityall
	</select>
	
	<select id="listPage" resultType="com.marketdongnae.domain.community.CommunityAllDTO">
		SELECT * FROM dongnae.communityall
		order by mu_data desc
		limit #{displayPost}, #{postNum} 
	</select> 
	
	<select id="listPageSearch" resultType="com.marketdongnae.domain.community.CommunityAllDTO">
		SELECT * FROM dongnae.communityall
		
		<if test='searchType.equals("mu_name")'>
			where mu_name like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("mu_detail")'>
			where mu_detail like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("mu_name_mu_detail")'>
			where mu_name like concat('%',#{keyword},'%')
			or mu_detail like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("m_id")'>
			where m_id like concat('%',#{keyword},'%')
		</if>
		
		
		order by mu_data desc
		limit #{displayPost}, #{postNum} 
	</select> 
	
	<select id="listPageSearchCount" resultType="int">
		SELECT  count(*) FROM dongnae.communityall
		
		<if test='searchType.equals("mu_name")'>
			where mu_name like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("mu_detail")'>
			where mu_detail like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("mu_name_mu_detail")'>
			where mu_name like concat('%',#{keyword},'%')
			or mu_detail like concat('%',#{keyword},'%')
		</if>
		<if test='searchType.equals("m_id")'>
			where m_id like concat('%',#{keyword},'%')
		</if>
		
	</select> 
	
	<select id="pageCategoryCount" resultType="int">
		SELECT count(*) FROM dongnae.communityall
		where ca_l =#{ca_l}
	</select> 
	
	<select id="pageCategory" resultType="com.marketdongnae.domain.community.CommunityAllDTO">
		SELECT * FROM dongnae.communityall
		where ca_l =#{ca_l}
		order by mu_data desc
		limit #{displayPost}, #{postNum} 
	</select> 
	
	
	
	<select id="category" resultType="com.marketdongnae.domain.community.CategoryDTO">
		SELECT * FROM dongnae.category;
	</select> 
	
	
</mapper>