<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.marketdongnae.mapper.MemberMapper">  <!-- 이전 dao일 때: <mapper namespace="Test"> -->
 	<select id="loginID" resultType="com.marketdongnae.security.CustomUserDetails">	<!-- id는 Mapper 인터페이스에 정의된 메서드명과 동일하게 -->
		select * from member where m_id = #{m_id}
	</select>
	
 	<select id="regist" parameterType="com.marketdongnae.domain.member.MemberDTO">	 
		insert into member  ( m_id, m_pwd,  m_name ,  m_email, m_phone,  si_id , do_id,  m_pic, m_picpath)
		 values (#{m_id}, #{m_pwd} ,  #{m_name} , #{m_email}, #{m_phone}, #{si_id} , #{do_id}, #{m_pic}, #{m_picpath}  ) ;
	</select>
	
	<select id="changePassword" parameterType="com.marketdongnae.domain.member.PasswordDTO" > 
		update member
			set m_pwd = #{newEncodePwd}
		where m_number = #{m_number}
	</select>
	
	
	<select id="getDoList" resultType="com.marketdongnae.domain.member.AllDTO">	 
		select * from Do_area;
	</select>
	
	<select id="getSiList" resultType="com.marketdongnae.domain.member.AllDTO">	 
		select * from Si_area where do_id = #{do_id};
	</select>
 	
	<select id="getMember" resultType="com.marketdongnae.domain.member.MemberDTO">	 
		select * from member where m_number = #{m_number}
	</select>
	
	<select id="checkId" resultType="com.marketdongnae.domain.member.MemberDTO">	 
		select * from member where m_id = #{m_id}
	</select>
	
	<select id="updateMember" parameterType="com.marketdongnae.domain.member.MemberDTO" > 
		update member
			set 
				m_name = #{m_name}, 
				m_email = #{m_email}, 
				m_phone=#{m_phone}, 
				si_id = #{si_id},
				do_id = #{do_id},
				m_pic = #{m_pic},
				m_picpath = #{m_picpath}
		where m_number = #{m_number}
	</select>
	
	<select id="updateMember_noPhoto" parameterType="com.marketdongnae.domain.member.MemberDTO" > 
		update member
			set 
				m_name = #{m_name}, 
				m_email = #{m_email}, 
				m_phone=#{m_phone}, 
				si_id = #{si_id},
				do_id = #{do_id}
		where m_number = #{m_number}
	</select>
	
	
	<select id="getSoldList" resultType="com.marketdongnae.domain.member.Deal_viewDTO">	 
		select * from deal_view where m_number = #{m_number} and d_type = 'sold'; 
	</select>
	
	<select id="getDealPageList" resultType="com.marketdongnae.domain.member.Deal_viewDTO">	 
		select * from deal_view 
		where m_number = #{m_number} and d_type = #{d_type}
		order by 'd_id' 
		limit #{displayStart} ,  3 ;  
	</select>
	
	<select id="getDealCnt" resultType="int">	 
		select count(d_id) from deal_view 
		where m_number =  #{m_number}  and d_type = #{d_type} ;
	</select> 
	
	
	<select id="getPageList" resultType="com.marketdongnae.domain.member.AllDTO">	 
		select * from ${table}
		where m_number = #{m_number} 
		limit #{displayStart} ,  3 ;  
	</select>
	
	<select id="getListCnt" resultType="int">	 
		select count(${table_id}) from ${table}
		where m_number =  #{m_number} ;
	</select>

	<select id="deleteWish" parameterType="com.marketdongnae.domain.member.Wish_viewDTO" > 
		delete from wishlist where wish_id = #{wish_id} ;
	</select>
	
	<select id="updatePoint" parameterType="com.marketdongnae.domain.member.MemberDTO" > 
		update member
			set m_point = #{m_point}
		where m_number = #{m_number} ;
	</select>
	
	 <select id="insertPointList" parameterType="com.marketdongnae.domain.member.PointDTO">	 
		insert into point  (  m_number,  p_type ,  p_price  )
		 values (  #{m_number} ,  #{p_type} , #{p_price} ) ;
	</select>
	
	
	<select id="getKeyword" resultType="com.marketdongnae.domain.member.KeywordVO">
		select * from keyword where m_number = #{m_number} and keyword = #{keyword} ;
	</select>
	
	<select id="getListKeyword" resultType="com.marketdongnae.domain.member.KeywordVO">
		select * from keyword where m_number = #{m_number} ;
	</select>
	
	<select id="getListKeywordGoods" resultType="com.marketdongnae.domain.goods.GoodsDTO">
		select * from goods where 
		<foreach item="keywordVO" collection="list" open = "(" close=")"  separator = " or ">
		<![CDATA[ 
			g_name like	CONCAT('%',#{keywordVO.keyword},'%')  and #{keywordVO.key_regdate} < g_regdate 
		]]>
		</foreach>
	</select>

	<insert id="insertKeyword"  parameterType="com.marketdongnae.domain.member.KeywordVO">
		insert into keyword(m_number, keyword) values(#{m_number},#{keyword})
	</insert>
	
	<delete id="deleteKeyword" parameterType="int">
		delete from keyword where key_id = #{key_id};
	</delete>
	
	
	<select id="getGoodsInsert" resultType="com.marketdongnae.domain.goods.GoodsDTO">
		select * from goods where g_name = #{g_name} and m_number =  #{m_number} ;
	</select>
	
	<insert id="insertDeal"  parameterType="com.marketdongnae.domain.goods.GoodsDTO">
		insert into deal ( m_number,  d_type, g_id, g_pic01 , g_picpath  ) values ( #{m_number}, 'onSale', #{g_id}, #{g_pic01}, #{g_picpath}  ) ;
	</insert>
</mapper> 