<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.marketdongnae.mapper.MemberMapper">  <!-- 이전 dao일 때: <mapper namespace="Test"> -->
 	<select id="loginID" resultType="com.marketdongnae.security.CustomUserDetails">	<!-- id는 Mapper 인터페이스에 정의된 메서드명과 동일하게 -->
		select * from member where m_id = #{m_id}
	</select>
	
 	<select id="regist" parameterType="com.marketdongnae.domain.member.MemberDTO">	 
		insert into member  ( m_id, m_pwd,  m_name ,  m_email, m_phone,  si_id , do_id)
		 values (#{m_id}, #{m_pwd} ,  #{m_name} , #{m_email}, #{m_phone}, #{si_id} , #{do_id}  ) ;
	</select>
	
	<select id="changePassword" parameterType="com.marketdongnae.domain.member.PasswordDTO" > 
		update member
			set m_pwd = #{new_password}
		where m_number = #{m_number}
	</select>
	
	
	<select id="getDoList" resultType="com.marketdongnae.domain.member.Do_areaDTO">	 
		select * from Do_area;
	</select>
	
	<select id="getSiList" resultType="com.marketdongnae.domain.member.Si_areaDTO">	 
		select * from Si_area where do_id = #{do_id};
	</select>
	
	<select id="getSi_area" resultType="com.marketdongnae.domain.member.Si_areaDTO">	 
		select * from Si_area where si_id = #{si_id} ;
	</select>
 	
	<select id="getMember" resultType="com.marketdongnae.domain.member.MemberDTO">	 
		select * from member where m_number = #{m_number}
	</select>
	
	<select id="checkId" resultType="com.marketdongnae.domain.member.MemberDTO">	 
		select * from member where m_id = #{m_id}
	</select>
	
	
	<select id="updateMember" parameterType="com.marketdongnae.domain.member.MemberDTO" > 
		update member
			set 
				m_name = #{m_name}, 
				m_email = #{m_email}, 
				m_phone=#{m_phone}, 
				si_id = #{si_id},
				do_id = #{do_id}
		where m_number = #{m_number}
	</select>
	
	
	<select id="getSoldList" resultType="com.marketdongnae.domain.member.Deal_viewDTO">	 
		select * from deal_view where m_number = #{m_number} and d_type = 'sold'; 
	</select>
	
	<select id="getDealPageList" resultType="com.marketdongnae.domain.member.Deal_viewDTO">	 
		select * from deal_view 
		where m_number = #{m_number} and d_type = #{d_type}
		order by 'd_id' 
		limit #{displayStart} ,  3 ;  
	</select>
	
	<select id="getDealCnt" resultType="int">	 
		select count(d_id) from deal_view 
		where m_number =  #{m_number}  and d_type = #{d_type} ;
	</select> 
	
	
	<select id="getPageList" resultType="com.marketdongnae.domain.member.MemberAllDTO">	 
		select * from ${table}
		where m_number = #{m_number} 
		limit #{displayStart} ,  3 ;  
	</select>
	
	<select id="getListCnt" resultType="int">	 
		select count(${table_id}) from ${table}
		where m_number =  #{m_number} ;
	</select>

	<select id="deleteWish" parameterType="com.marketdongnae.domain.member.Wish_viewDTO" > 
		delete from wishlist where wish_id = #{wish_id} ;
	</select>
	
	
	<select id="updatePoint" parameterType="com.marketdongnae.domain.member.MemberDTO" > 
		update member
			set m_point = #{m_point}
		where m_number = #{m_number} ;
	</select>
	
	 <select id="insertPointList" parameterType="com.marketdongnae.domain.member.PointDTO">	 
		insert into point  (  m_number,  p_type ,  p_price  )
		 values (  #{m_number} ,  #{p_type} , #{p_price} ) ;
	</select>
</mapper> 